.top-buffer { margin-top:70px; }

.searchbox {
    height:60px !important;
    background-color:#2a2a2a !important;
    border: 0px none !important;
    border-radius: 3px !important;
    font-size: 18px !important;
    width : 680px !important;
    padding-top: 0px !important;
    color: #808080;

}
.tt-menu {
    top: 0px !important;
    /*position: relative !important;*/
}



.btn-xl,.btn-xl:hover, .btn-xl:active{
    padding: 18px 28px;
    border-radius: 3px;
    height:60px;
    background: #0ff;
    color: #151515;
    font-size: 16px;
    /*top: 500px !important;*/
    /*margin-top: 100px;*/
}



.outer {
    background-color: #151515 !important

}

.searchresult{
    font-size: 30px;
    font-family: oblique serif !important;
    color: white;

}

.tile.tile-medium {

}
.tile.tile-teal {
    background-color: #00aba9;
    height: 150px !important;
    width: 150px;
    /*background: url(/img/prince.jpg) no-repeat center top;background-size:cover;*/
    background: no-repeat center top;background-size:cover;

}
.tidal-table {
    /*width: 300px;*/
    /*float:left;*/
}

.table-hover tbody tr:hover  {
    background-color: #d0e9c6 !important;
}
.table-hover tbody tr {
    background-color:grey !important;
}

input
{
    width: 50%;
    top: 25%;
    height: 30px;

}
/*.searchbox {*/
/*height:60px !important;*/
/*background-color:#2a2a2a !important;*/
/*border: 0px none !important;*/
/*border-radius: 3px !important;*/
/*font-size: 18px !important;*/
/*width : 400px !important;*/
/*padding-top: 0px !important;*/
/*color: grey !important;*/

/*}*/
#live-search {
    position: relative;
    top: 30%;
    left: 25%;
    right: 25%;
    text-align: center;
    vertical-align: middle;
    color: white;
}

/*Live Search styles start*/
ul.searchresultspopup {
    border: #a4bed4 1px solid;
    margin-top: 0px;
    padding: 0px;
    z-index: 1 !important;
    position: fixed;
    background-color: lightgray !important;
    /*max-height:200px;*/
    border-collapse: separate;
    overflow-y: hidden;
    color: black !important; /*Color of the list font*/
}

ul.searchresultspopup > li {
    cursor: pointer;
    padding-left: 1px;
    text-align: left;
    list-style: none;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-transform: lowercase;
}

ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
    background-color: #d0e9c6;
}

ul.searchresultspopup b {
    color: blue;
}

ul.searchresultspopup strong {
    color: green;
}
/*Live Search styles end*/
