<div ng-if="playList">
    <div class="col-md-2">
        <div class="thumbnail tile tile-medium tile-teal">
            <a href="#">
                <img src="/img/prince.jpg">
                <!--<h1>Hello</h1>-->
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Time</th>
                <th>Released</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in playList">
                <td>1</td>
                <td>{{item.title}}</td>
                <td>{{item.artist}}</td>
                <td>{{item.time}}</td>
                <td>{{item.released}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>