<div>
    <div class="col-md-2">
        <div class="thumbnail tile tile-medium tile-teal">
            <a href="">
                <img src={{playList.image}}>
                <!--<h1>Hello</h1>-->
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-hover" data-toggle="table">
            <thead>
            <tr>
                <th><font color="white">#</font></th>
                <th><font color="white">Title</font></th>
                <th><font color="white">Artist</font></th>
                <th><font color="white">Time</font></th>
                <th><font color="white">Released</font></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in playList.data">
                <td><font color="white">{{item.id}}</font></td>
                <td><font color="white">{{item.title}}</font></td>
                <td><font color="white">{{item.artist}}</font></td>
                <td><font color="white">{{item.time}}</font></td>
                <td><font color="white">{{item.release_date}}</font></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>